@charset "UTF-8";
.logo {
    display: flex;
    justify-content: center; /* 컨텐츠-정렬: (주축) 가운데 */
    align-items: center; /* 아이템-정렬: (교차축) 가운데 */
    height: 350px;
}
img {
    width: 100px;
    height: 110px;
}
.menu {
    display: flex;
    gap: 30px;
    background-color: #005891;
    color: white;
    font-size: 14px;
    justify-content: center; /* 컨텐츠-정렬: (주축) 가운데 */
    align-items: center; /* 아이템-정렬: (교차축) 가운데 */
    height: 60px;
}

/* 선택자 문법
선택자 {
    속성: 값;
 }
 
 2. 선택자 종류
 - 전체 선택자 : *
 - 태그 선택자 : p
 - 클래스 선택자 : .item
 - 아이디 선택자 : #box
 - 그룹 선택자 : p, .item, #box
*/